<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="hms_style_login.css">
  <script src="hms_script_login.js"></script>
	
</head>
<body>
	<div class="wrapper">
  <form class="login">
    <p class="title">Log in</p>
    <input type="text" placeholder="Username" autofocus/>
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" />
    <i class="fa fa-key"></i>
    <a href="#">Forgot your password?</a>
    <button>
      <i class="spinner"></i>
      Log in
    </button>
  </form>
  <!--<footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
 -->
 </p>
</div>

</body>
</html>