<html>
<head>
	<style>
		#rs{
			height:250px;
			width: 400px;
			padding: 60px 15px;
		}
		#hf{
			height:250px;
			width: 400px;
			padding: 60px 15px;
		}
		#fs{
			height:250px;
			width: 400px;
			padding: 60px 15px;
		}
	</style>
</head>
<body>
<div id="rs1">
<img id="rs" src="https://www.itchotels.com/content/dam/itchotels/in/umbrella/welcomHotel/hotels/welcomhotelcoimbatore/images/overview-landing-page/overview/desktop/deluxe-suite-living-area.png">

<img id="hf" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_193,w_3680,h_2070,r_0,c_crop,q_80,fl_progressive/w_960,f_auto,c_fit/radisson-blu---bengaluru-outer-ring-road/Swimming_pool_at_Radisson_Blu_-_Bengaluru_Outer_Ring_Road_e2clte">

<img id="fs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmxHuOkdXqLc6VglqVwalbVLXI-GpnWB7ldA&usqp=CAU">
</div>

</body>
</html>